<nav class="fh-tabs" aria-label="Navegação dos módulos">
  <a class="fh-tab fh-module-card" data-target="index.html#/evolucoes" href="index.html#/evolucoes" data-hover-description="Abre as evoluções pendentes">Evoluções
    Pendentes</a>
  <a class="fh-tab fh-module-card" data-target="index.html#/financeiro" href="index.html#/financeiro" data-hover-description="Abre a análise financeira">Análise
    Financeira</a>
  <a class="fh-tab fh-module-card" data-target="index.html#/agendamentos"
    href="index.html#/agendamentos" data-hover-description="Abre os agendamentos">Agendamentos</a>
  <a class="fh-tab fh-module-card" data-target="index.html#/pacientes" href="index.html#/pacientes" data-hover-description="Abre a lista de pacientes">Lista de
    Pacientes</a>
</nav>